.page-wrapper {
  min-height: 100vh;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  padding-top: 75px;
  position: relative;
  .container{
    margin-top: -75px;
  }
  .img{
    position: absolute;
    bottom: 0;
    height: 20%;
    width: 100%;
    // z-index: -1;
  }
  h1{
    font-weight: 900;
    font-size: 3.5em;
    font-family: 'Roboto', sans-serif;
  }

  
  .search-grp {
    background-color: var(--secondary);
    border-radius: 10px;
    padding: 5px;
    .search-input {
      height: 68px;
      border-radius: 10px;
      border: none;
    }
    button {
      height: 68px;
      width: 68px;
      
      background-color: var(--secondary);
      border-color: var(--secondary);
    }
  }
}
