<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h2 nz-typography class="h2-responsive font-color-primary mb-0">
        Manage Contact Info
      </h2>
    </div>
  </div>

  <div class="row my-3">
    <div class="col-12">
      <nz-alert
        nzType="info"
        nzCloseable
        nzDescription="To display the updated contact information on the homepage, users are advised to manually refresh the page after the changes have been made."
      ></nz-alert>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col col-lg-6 col-md-12">
      <div class="mb-4">
        <app-telemedicine-admin-input
          [placeholder]="''"
          [formGroupParent]="contactFormGroup"
          [controlName]="'contact'"
          [errorMessage]="'Please provide a name'"
          [icon]="'phone'"
          [label]="'Contact'"
          [type]="'text'"
          [disabled]="!isUpdating"
          [isRound]="true"
          [value]="contactData[0]?.contact"
        ></app-telemedicine-admin-input>
      </div>
      <div class="mb-4">
        <app-telemedicine-admin-input
          [placeholder]="''"
          [formGroupParent]="contactFormGroup"
          [controlName]="'address'"
          [errorMessage]="'Please provide a name'"
          [icon]="'pushpin'"
          [label]="'Address'"
          [type]="'text'"
          [disabled]="!isUpdating"
          [isRound]="true"
          [value]="contactData[0]?.address"
        ></app-telemedicine-admin-input>
      </div>
      <div class="mb-2">
        <app-telemedicine-admin-input
          [placeholder]="''"
          [formGroupParent]="contactFormGroup"
          [controlName]="'email'"
          [errorMessage]="'Please provide a name'"
          [icon]="'mail'"
          [label]="'Email'"
          [type]="'text'"
          [disabled]="!isUpdating"
          [isRound]="true"
          [value]="contactData[0]?.email"
        ></app-telemedicine-admin-input>
      </div>
      <div class="mb-2">
        <small class="text-muted"
          >Last modified: {{ contactData[0]?.lastModified }}</small
        >
      </div>

      <div class="mb-4 d-flex justify-content-end">
        <button
          class="me-2"
          nz-button
          [nzType]="isUpdating ? 'default' : 'primary'"
          (click)="onClickUpdate()"
        >
          {{ isUpdating ? "Cancel" : "Update" }}
        </button>

        <button
          class="d-flex align-items-center"
          nz-button
          nzType="primary"
          *ngIf="isUpdating"
          (click)="onClickConfirm()"
          [disabled]="isLoading"
        >
          <span nz-icon [nzType]="'loading'" *ngIf="isLoading"></span>
          <span>{{ !isLoading ? "Confirm" : "Updating" }}</span>
        </button>
      </div>
    </div>
  </div>
</div>
