<form
  [formGroup]="formGroupParent"
  class="contact-form"
  [class.disabled]="disabled"
>
  <nz-form-item>
    <nz-form-control [nzErrorTip]="errorMessage">
      <nz-input-group
        [nzPrefixIcon]="icon"
        [nzAddOnBefore]="disabled ? label : label + ' ' + '*'"
      >
        <input
          [name]="controlName"
          [id]="controlName"
          class="inputs"
          [class.round]="isRound"
          [type]="type"
          nz-input
          [placeholder]="placeholder"
          [formControlName]="controlName"
        />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
</form>
