.page-wrapper {
    min-height: 100vh;
  
    display: flex;
    align-items: center;
    // padding-top: -30px;
    padding-top: 75px;
    position: relative;

    .about-text{
        font-size: 18px;
        text-align: justify;
    }
} 

.image{
    height: 100%;
    width: 100%;
    img{

        object-fit: contain;
        aspect-ratio: 3/2;
        height: 100%;
        width: 100%;
    }
}

.profile-pic{
    height: auto;
    width: 300px;
    img{
        object-fit: contain;
        aspect-ratio: 3/2;
        height: 100%;
        width: 100%;
    }
}


.img{
    position: absolute;
    right: 0;
    width: 20%;
    height: 100%;
    z-index: -1;

  }