<app-img-bg></app-img-bg>
<div class="page-wrapper section-1">
    <div class="container" style="min-height: calc(100vh - 30px)">
        

        <div class="row">
            <div class="col-md-6">
                <h1 class="font-color-secondary my-5">HISTORY</h1>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
                </p>
            </div>
            <div class="col-md-6 py-5">

                <div class="image">
                    <img src="assets/robot.png" alt="">
                </div>
            </div>
        </div>

        <div class="row my-5">
            <div class="col-12 text-center">
                <h2 style="font-weight: 600;" class="font-color-secondary">OUR <span class="font-color-primary">TEAM</span> </h2>
            </div>
        </div>
        <div class="row text-center mb-5">
            <div class="col-4 d-flex justify-content-center">
                <div class="profile">
                    <div class="profile-pic">
                        <img src="assets/lui.png" alt="">
                    </div>
                    <h6 class="font-color-primary">
                        AWITAN, LUI RENSON
                    </h6>
                    <span class="font-color-secondary"> <i>MANAGER</i></span>
                </div>

            </div>
            <div class="col-4 d-flex justify-content-center">
                <div class="profile">
                    <div class="profile-pic">
                        <img src="assets/alaxan.png" alt="">
                    </div>
                    <h6 class="font-color-primary">
                        AXALAN, KEN TRISTAN
                    </h6>
                    <span class="font-color-secondary"> <i>MANAGER</i></span>
                </div>

            </div>
            <div class="col-4 d-flex justify-content-center">
                <div class="profile">
                    <div class="profile-pic">
                        <img src="assets/dimalibot.png" alt="">
                    </div>
                    <h6 class="font-color-primary">
                        DIMALIBOT, MA. JOSELLE

                    </h6>
                    <span class="font-color-secondary"> <i>MANAGER</i></span>
                </div>
            </div>
        </div>
        <div class="row text-center mb-5">
            <div class="col-6 d-flex justify-content-center">
                <div class="profile">
                    <div class="profile-pic">
                        <img src="assets/manalo.png" alt="">
                    </div>
                    <h6 class="font-color-primary">
                        MANALO, GLEZIEL
                    </h6>
                    <span class="font-color-secondary"> <i>MANAGER</i></span>
                </div>
            </div>
            <div class="col-6 d-flex justify-content-center">
                <div class="profile">
                    <div class="profile-pic">
                        <img src="assets/rubion.png" alt="">
                    </div>
                    <h6 class="font-color-primary">
                        RUBION, JEDIDEAH EMMANUEL
                    </h6>
                    <span class="font-color-secondary"> <i>MANAGER</i></span>
                </div>
            </div>
        </div>



    </div>
</div>