<div class="page-wrapper section-1">
  <div class="container" style="min-height: calc(100vh - 30px)">
    <div class="row">
      <div class="col-md-6">
        <h1 class="font-color-secondary my-5">HISTORY</h1>

        <p class="about-text" >
          Telemedicine is a health website linked to Telemedicine Kit hardware,
          which is the output of a capstone project that is a graduation
          requirement for Batangas State University’s Electronics Engineering
          students. This capstone project yielded a compact telemedicine kit
          with cloud storage and website access in order to address the remote
          diagnostic needs of patients, including health diagnosis, data
          storage, and forwarding. The system will consist of several biomedical
          sensors integrated into a microcontroller and then a microprocessor.
          The biomedical sensors integrated into the kit include a temperature
          sensor, an electrocardiogram (ECG), a pulse oximeter, a camera, and a
          pneumograph. The kit can record all assessments and care given to the
          patient by the responders and determine any threats to the patient’s
          life. With this information being forwarded and accessed from the
          cloud, the physician or hospital analyzing the data can summon more
          advanced medical care as needed or prepare the hospital for receiving
          the patient
        </p>
      </div>
      <div class="col-md-6 py-5">
        <div class="image">
          <img src="assets/robot.png" alt="" />
        </div>
      </div>
    </div>

    <div class="row my-5">
      <div class="col-12 text-center">
        <h2 style="font-weight: 600" class="font-color-secondary">
          OUR <span class="font-color-primary">TEAM</span>
        </h2>
      </div>
    </div>
    <div class="row text-center mb-5">
      <div class="col-4 d-flex justify-content-center">
        <div class="profile">
          <div class="profile-pic">
            <img src="assets/lui.png" alt="" />
          </div>
          <h6 class="font-color-primary">AWITAN, LUI RENSON</h6>
          <span class="font-color-secondary"> <i>MANAGER</i></span>
        </div>
      </div>
      <div class="col-4 d-flex justify-content-center">
        <div class="profile">
          <div class="profile-pic">
            <img src="assets/alaxan.png" alt="" />
          </div>
          <h6 class="font-color-primary">AXALAN, KEN TRISTAN</h6>
          <span class="font-color-secondary"> <i>MANAGER</i></span>
        </div>
      </div>
      <div class="col-4 d-flex justify-content-center">
        <div class="profile">
          <div class="profile-pic">
            <img src="assets/dimalibot.png" alt="" />
          </div>
          <h6 class="font-color-primary">DIMALIBOT, MA. JOSELLE</h6>
          <span class="font-color-secondary"> <i>MANAGER</i></span>
        </div>
      </div>
    </div>
    <div class="row text-center mb-5">
      <div class="col-6 d-flex justify-content-center">
        <div class="profile">
          <div class="profile-pic">
            <img src="assets/manalo.png" alt="" />
          </div>
          <h6 class="font-color-primary">MANALO, GLEZIEL</h6>
          <span class="font-color-secondary"> <i>MANAGER</i></span>
        </div>
      </div>
      <div class="col-6 d-flex justify-content-center">
        <div class="profile">
          <div class="profile-pic">
            <img src="assets/rubion.png" alt="" />
          </div>
          <h6 class="font-color-primary">RUBION, JEDIDEAH EMMANUEL</h6>
          <span class="font-color-secondary"> <i>MANAGER</i></span>
        </div>
      </div>
    </div>
  </div>
<img src="./assets/waves vertical.png" alt="" class="img disable-user-select" />

</div>
