.details-item{
    strong, span{
        font-size: 17px;
    }

   
    span{
        text-transform: capitalize;

            ::ng-deep .ant-typography-copy{
                opacity: 0;
            }
    
            &:hover{
                ::ng-deep .ant-typography-copy{
                    opacity: 1;
                }
            }
    }
}

 h2{
    color: var(--primary);

}
h5{
    color: var(--primary);


}


.edit-btn, .delete-btn{

    span{
        font-size: 20px;
    }

}

.image{

    img{
        width: auto;
        height: 120px;
        aspect-ratio: 1;
        object-fit: contain;
    }
}

::ng-deep nz-result {
    height: 70vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}