<div class="page-wrapper">
  <div class="container">
    <div class="row pt-5">
      <div class="col-lg-8">
        <div class="container-header">
          <div class="mb-4">
            <h1 class="header-text h1-responsive font-color-primary" style="font-weight: 600;">PATIENT <span class="font-color-secondary">DETAILS</span> </h1>
          </div>
          <div class="mb-5">
            <div class="date-picker-container">
              <div class="date-picker">
                <nz-date-picker
                style="min-width: 300px; border-radius:10px; height: 45px;"
                [(ngModel)]="date"
                (ngModelChange)="onChange($event)"
              ></nz-date-picker>
              </div>
              
            </div>
          </div>
        </div>

        <div class="details-cards pt-3">
          <div class="row mb-5">
            <div class="col-lg-3 col-md-3 col-sm-3">
              <app-telemedicine-detail-cards
                [imgURL]="'./assets/temperature.png'"
                [data]="data?.temperature"
                [filled]="false"
                [description]="'Temperature'"
                [isWideCard]="false"
              ></app-telemedicine-detail-cards>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
              <app-telemedicine-detail-cards
                [imgURL]="'./assets/heart.png'"
                [data]="data?.heartRate"
                [filled]="false"
                [description]="'Heart Rate'"
                [isWideCard]="false"
              ></app-telemedicine-detail-cards>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
              <app-telemedicine-detail-cards
                [imgURL]="'./assets/blood.png'"
                [data]="data?.bloodPressure"
                [filled]="true"
                [description]="'Blood Pressure'"
                [isWideCard]="false"
              ></app-telemedicine-detail-cards>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
              <app-telemedicine-detail-cards
                [imgURL]="'./assets/ox2.png'"
                [data]="data?.oxygenSaturation"
                [filled]="false"
                [description]="'Oxygen Saturation'"
                [isWideCard]="false"
              ></app-telemedicine-detail-cards>
            </div>
          </div>
          <div class="row mb-5">
            <div class="col">
              <app-telemedicine-detail-cards
                [imgURL]="'./assets/heartECG.jpg'"
                [data]="data?.temperature"
                [filled]="false"
                [description]="'Heart ECG'"
                [isWideCard]="true"
              ></app-telemedicine-detail-cards>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <button nz-button nzType="primary">Print Summary</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="row mb-5">
          <div class="col">
            <div class="search-input">
              
              <div class="search-grp">
                <nz-input-group [formGroup]="formGroup" nzSearch nzSize="large" [nzAddOnAfter]="suffixButton">
                  <input
                    type="text"
                    class="search-input"
                    nz-input
                    placeholder="Enter patients name eg. Juan Dela Cruz"
                    name="inputText"
                    formControlName="search"
                    
                  />
                </nz-input-group>
                <ng-template #suffixButton>
                  <button nz-button nzType="primary" nzSearch (click)="onSearch()" >
                    <img width="100%" height="60%" style="aspect-ratio:1/1; object-fit: contain;" src="./assets/search.png" alt="">
                  </button>
                </ng-template>
              </div> 
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="patient-details p-3 align-items-center p-4">
              <div class="mb-3 header-image">
                <img [src]="data ? data.image :'./assets/logo.png'" height="auto" width="150" alt="" />
              </div>
              <div class="details-container">
                <div class="mb-5">
                  <h5 class="text-white text-capitalize">
                    <small class="me-3">Name: </small
                    ><span nz-icon [nzType]="'loading'" *ngIf="!data?.name"></span>{{ data?.name ? data?.name : "" }}
                  </h5>
                </div>
                <div class="mb-5">
                  <h5 class="text-white text-capitalize">
                    <small class="me-3">Age: </small
                    ><span nz-icon [nzType]="'loading'" *ngIf="!data?.age"></span>{{ data?.age ? data?.age : "" }}
                  </h5>
                </div>
                <div class="mb-5">
                  <h5 class="text-white text-capitalize">
                    <small class="me-3">Birth Date: </small
                    ><span nz-icon [nzType]="'loading'" *ngIf="!data?.birthdate"></span>{{ data?.birthdate ? data?.birthdate : "" }}
                  </h5>
                </div>
                <div class="mb-5">
                  <h5 class="text-white text-capitalize">
                    <small class="me-3">Gender: </small
                    ><span nz-icon [nzType]="'loading'" *ngIf="!data?.gender"></span>{{ data?.gender ? data?.gender : "" }}
                  </h5>
                </div>

                <div class="mb-5">
                  <h5 class="text-white text-capitalize">
                    <small class="me-3">Address: </small
                    ><span nz-icon [nzType]="'loading'" *ngIf="!data?.address"></span>{{ data?.address ? data?.address : "" }}
                  </h5>
                </div>
                <div class="mb-5">
                  <h5 class="text-white text-capitalize">
                    <small class="me-3">Height: </small
                    > <span nz-icon [nzType]="'loading'" *ngIf="!data?.height"></span> {{ data?.height ? data?.height : "" }}
                  </h5>
                </div>
                <div class="mb-5">
                  <h5 class="text-white text-capitalize">
                    <small class="me-3">Weight: </small
                    ><span nz-icon [nzType]="'loading'" *ngIf="!data?.weight"></span>{{ data?.weight ? data?.weight : "" }}
                  </h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
