.page-wrapper {
  min-height: 100vh;

  //   display: flex;
  //   align-items: center;
  margin-top: 75px;
  position: relative;
  

  .patient-details {
    background-color: var(--primary);
    margin-bottom: 25px;

    .header-image {
      display: flex;
      justify-content: center;
    }
  }
  
}

.cards {
  min-height: 160px;
}
.round {
  border-radius: 10px;
}
.border-grn {
  border: 2px solid #00918f;
}

.clear-btn{
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
}
.search-grp {
  background-color: var(--secondary);
  border-radius: 10px;
  padding: 5px;
  .search-input {
    height: 45px;
    border-radius: 10px;
    border: none;
  }
  button {
    height: 45px;
    width: 45px;
    
    background-color: var(--secondary);
    border-color: var(--secondary);
  }
}
.date-picker-container{
  .date-picker{
    border-radius: 10px;

    padding: 5px;
    width: max-content;
    background-color: var(--secondary);
  
  }
}
[nz-carousel-content] {
  text-align: center;
  height: 290px;
  line-height: 160px;
  background: #dddddd;
  color: #fff;
  overflow: hidden;
}

h3 {
  color: #fff;
  margin-bottom: 0;
  user-select: none;
}