<div [ngClass]="marginTop ? 'contact-section py-5' : 'contact-section'">
    <div class="container">
        <div class="row" *ngIf="isHeaderTextOn">
            <h1 style="color:var(--primary); font-weight: 600;">Contact <span style="color: var(--secondary);">Us</span> </h1>
        </div>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 d-flex align-items-center" >
          <ul class="contact-list" >
            <li>
              <span nz-icon nzType="environment" nzTheme="fill" ></span>
              <div class="text-content">
                <h4 class="font-color-primary h4-responsive">Address</h4>
                <p class="m-0">
                  {{ contactData[0]?.address ? contactData[0]?.address : "-" }}
                </p>
              </div>
            </li>
            <li>
              <span nz-icon nzType="phone" nzTheme="fill" ></span>
              <div class="text-content">
                <h4 class="font-color-primary h4-responsive">Phone</h4>
                <p class="m-0">
                  {{ contactData[0]?.contact ? contactData[0]?.contact : "-" }}
                </p>
              </div>
            </li>
  
            <li>
              <span nz-icon nzType="mail" nzTheme="fill" ></span>
              <div class="text-content">
                <h4 class="font-color-primary h4-responsive">Email</h4>
                <p class="m-0">
                  {{ contactData[0]?.email ? contactData[0]?.email : "-" }}
                </p>
              </div>
            </li>
          </ul>
        </div>
  
        <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="card contact-card px-5 py-5">
            <form action="" class="contact-form" [formGroup]="emailFormGroup">
              <div class="mb-4 text-container text-center">
                <h3 class="font-color-primary h3-responsive">
                  LEAVE US A <span class="font-color-secondary">MESSAGE</span>
                </h3>
              </div>
              <div class="mb-2">
                <app-telemedicine-input
                  [placeholder]="'Enter your name'"
                  [errorMessage]="'Please provide a name'"
                  [icon]="'mail'"
                  [type]="'text'"
                  [isRound]="true"
                  [formGroupParent]="emailFormGroup"
                  [controlName]="'name'"
                >
                </app-telemedicine-input>
              </div>
              <div class="mb-2">
                <app-telemedicine-input
                  [placeholder]="'Enter your email'"
                  [errorMessage]="'Please input your email'"
                  [icon]="'mail'"
                  [type]="'text'"
                  [isRound]="true"
                  [formGroupParent]="emailFormGroup"
                  [controlName]="'email'"
                >
                </app-telemedicine-input>
              </div>
              <div class="mb-2">
                <app-telemedicine-input
                  [placeholder]="'Enter subject'"
                  [errorMessage]="'Please input a subject'"
                  [icon]="'mail'"
                  [type]="'text'"
                  [isRound]="true"
                  [formGroupParent]="emailFormGroup"
                  [controlName]="'subject'"
                >
                </app-telemedicine-input>
              </div>
              <div class="mb-2">
                <app-telemedicine-text-area
                  [errorMessage]="'Please provide a message'"
                  [placeholder]="'Enter your message'"
                  [controlName]="'message'"
                  [formGroupParent]="emailFormGroup"
                ></app-telemedicine-text-area>
              </div>
              <div class="mb-2">
                <button class="button-ggl primary round " nzBlock nz-button nzType="primary"
                (click)="sendEmail()"  [disabled]="isLoading">
                  <span nz-icon [nzType]="'loading'" *ngIf="isLoading"></span>
                  <span >{{ !isLoading ? "Send" : "Sending email" }}</span>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <img
      src="./assets/waves footer 2.png"
      alt=""
      class="img disable-user-select"
    />
  </div>