<nz-list class="demo-loadmore-list" [nzLoading]="initLoading">
    <nz-list-item *ngFor="let item of dataItems">
      <ng-container *ngIf="!isSpinning">
        <nz-list-item-meta
          [nzAvatar]="!item.hasOwnProperty('image') ?'./assets/user.png'  : item?.image"
          [nzDescription]="item?.address"
          nzEllipsis
        >
          <nz-list-item-meta-title>
            <a href="https://ng.ant.design">{{ item?.name }}</a>
          </nz-list-item-meta-title>
        </nz-list-item-meta>
        <ul nz-list-item-actions>
          <nz-list-item-action><a (click)="emitActions({action:'update',id:item?.id})">
            <span *ngIf="!isMobileView">View</span>
            <span
                nz-icon
                nzType="edit"
                nzTheme="fill"
                *ngIf="isMobileView"
              ></span>
          </a></nz-list-item-action>
          <nz-list-item-action><a class=" disable-user-select"
            nz-popconfirm
            nzPopconfirmTitle="Are you sure delete this data?"
            nzPopconfirmPlacement="bottom"
            (nzOnConfirm)="emitActions({action:'delete',id:item?.id})"
            (nzOnCancel)="cancel()" >
            <span *ngIf="!isMobileView">Delete</span>

            <span
                nz-icon
                nzType="delete"
                nzTheme="fill"
                *ngIf="isMobileView"
              ></span>
          
          
          </a>
          
          
          </nz-list-item-action>
        </ul>
      </ng-container>
      <nz-skeleton
        *ngIf="isSpinning"
        [nzAvatar]="true"
        [nzActive]="true"
        [nzTitle]="false"
        [nzLoading]="true"
      ></nz-skeleton>
    </nz-list-item>
    <div class="loadmore" nz-list-load-more>
      <button nz-button *ngIf="!isSpinning" (click)="onLoadMore()">loading more</button>
    </div>
  </nz-list>