// nz-spin{
// height: 400px;
// }

.ant-table-column-title{
    user-select: none;
    -webkit-user-select: none;
}

::ng-deep table{
    position: relative;

    .ant-table-thead{
        position: sticky;
        top: 0;
        z-index: 5;
    }
}
::ng-deep .ant-pagination{
    display: none;
}

td{

    p{

        ::ng-deep .ant-typography-copy{
            opacity: 0;
        }

        &:hover{
            ::ng-deep .ant-typography-copy{
                opacity: 1;
            }
        }
    }
    
        
}

