<nz-spin [nzSpinning]="isSpinning">
  <nz-table #filterTable [nzData]="dataItems" nzTableLayout="fixed" *ngIf="isManageData">
    <thead>
      <tr>
        <th style="user-select: none" *ngFor="let column of listOfColumns" [nzSortOrder]="column.sortOrder"
          [nzSortFn]="column.sortFn" [nzSortDirections]="column.sortDirections"
          [nzFilterMultiple]="column.filterMultiple" [nzFilters]="column.listOfFilter" [nzFilterFn]="column.filterFn">
          {{ column?.name }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of dataItems">
        <td nzEllipsis>
          <p nz-typography nzCopyable [nzCopyText]="data?.name">
            {{ data?.name ? data?.name : "-" }}
          </p>
        </td>
        <td nzEllipsis>
          <p nz-typography>{{ data?.gender ? data?.gender : "-" }}</p>
        </td>
        <td nzEllipsis>
          <p nz-typography>{{ data?.address ? data?.address : "-" }}</p>
        </td>
        <td nzRight>
          <div class="action-buttons d-flex">
            <!-- <a class="font-color-primary disable-user-select me-3" >
              <span nz-icon nzType="info-circle" nzTheme="fill" *ngIf="isMobileView"></span>
              <span *ngIf="!isMobileView">View</span> 
            </a> -->
            <a class="font-color-primary disable-user-select me-3"
              (click)="emitActions({ action: 'update', id: data?.id })">
              <span nz-icon nzType="edit" nzTheme="fill" *ngIf="isMobileView"></span>
              <span *ngIf="!isMobileView">View</span>
            </a>
            <a class="font-color-primary disable-user-select" nz-popconfirm
              nzPopconfirmTitle="Are you sure delete this data?" nzPopconfirmPlacement="bottom"
              (nzOnConfirm)="emitActions({ action: 'delete', id: data?.id })" (nzOnCancel)="cancel()">
              <span nz-icon nzType="delete" nzTheme="fill" *ngIf="isMobileView"></span>
              <span *ngIf="!isMobileView">Delete</span>
            </a>
          </div>
        </td>
      </tr>
    </tbody>
  </nz-table>

  <nz-table #filterTable [nzData]="dataItems" nzTableLayout="fixed" *ngIf="isManageAccount">
    <thead>
      <tr>
        <th style="user-select: none" *ngFor="let column of listOfColumns" [nzSortOrder]="column.sortOrder"
          [nzSortFn]="column.sortFn" [nzSortDirections]="column.sortDirections"
          [nzFilterMultiple]="column.filterMultiple" [nzFilters]="column.listOfFilter" [nzFilterFn]="column.filterFn">
          {{ column?.name }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of dataItems">
        <td nzEllipsis>
          <p nz-typography nzCopyable [nzCopyText]="data?.firstName">
            {{ data?.firstName ? data?.firstName +' '+data?.lastName : "-" }}
          </p>
        </td>
        <td nzEllipsis>
          <p nz-typography>{{ data?.email ? data?.email : "-" }}</p>
        </td>
        <td nzEllipsis>
          <p nz-typography>{{ data?.type ? data?.type : "-" }}</p>
        </td>
        <td nzRight>
          <div class="action-buttons d-flex">
         
            <a class="font-color-primary disable-user-select me-3"
              (click)="openModal(data)">
              <span nz-icon nzType="edit" nzTheme="fill" *ngIf="isMobileView"></span>
              <span *ngIf="!isMobileView">View</span>
              
            </a>
            <a class="font-color-primary disable-user-select me-3"
              *ngIf="data.status != 'approved'"
              (click)="emitActions({ action: 'account-approve', id: data })">
              <span nz-icon nzType="edit" nzTheme="fill" *ngIf="isMobileView"></span>
              <span *ngIf="!isMobileView">Approve</span>
            </a>
            <a class="font-color-primary disable-user-select" nz-popconfirm
              nzPopconfirmTitle="Are you sure delete this data?" nzPopconfirmPlacement="bottom"
              (nzOnConfirm)="emitActions({ action: 'delete', id: data?.id })" (nzOnCancel)="cancel()">
              <span nz-icon nzType="delete" nzTheme="fill" *ngIf="isMobileView"></span>
              <span *ngIf="!isMobileView">Delete</span>
            </a>

           
          </div>
        </td>
      </tr>
    </tbody>
    <nz-modal
    [(nzVisible)]="isVisible"
    [nzTitle]="modalsData?.firstName"
    [nzContent]="modalContent"
    [nzFooter]="modalFooter"
    (nzOnCancel)="close()"
    >
    <ng-template #modalTitle>{{modalsData?.firstName + ' '+ modalsData?.lastName}}</ng-template>

    <ng-template #modalContent>
        <p class="modal-text"><span class="font-weight-bold">Firstname:</span>
          {{modalsData?.firstName}}
        </p>
        <p class="modal-text"><span class="font-weight-bold">Lastname:</span>
          {{modalsData?.lastName}}
        </p>
        <p class="modal-text"><span class="font-weight-bold">Contact Number:</span>
         {{ modalsData?.number}}
        </p>
        <p class="modal-text"><span class="font-weight-bold">Email:</span>
         {{ modalsData?.email}}
        </p>
        <p class="modal-text"><span class="font-weight-bold">Type:</span>
          {{modalsData?.type}}
        </p>
        <p class="modal-text"><span class="font-weight-bold">Status:</span>
          {{modalsData?.status}}
        </p>
        
    </ng-template>

    <ng-template #modalFooter>
        <button nz-button nzType="default" (click)="close()">Close</button>
        <button *ngIf="modalsData?.status ==='pending'" nz-button nzType="primary" (click)="emitActions({ action: 'account-approve', id: modalsData })">Approve</button>

    </ng-template>
    </nz-modal>
  </nz-table>
</nz-spin>